/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* @tailwind base; */

.heroBanner {
  /* padding: 25rem 0 0 0; */
  /* height: 1000px; */
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background: url(./girl.png); */
  /* object-fit: cover; */
  background-size: 100% 100%;
  max-width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 0 !important;
}
.contents:hover {
  transform: translateY(-0.5rem) scale(1.05);
  transition-duration: 0.15s;
  opacity: 0.8;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, -webkit-transform, -webkit-filter,
    -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter, -webkit-transform,
    -webkit-filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  margin: 2rem 0 1rem 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.btn {
  background-color: #ea5252;
}
.btn:hover {
  background-color: #ebedf0;
}

.title {
  font-size: 2.5rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s linear infinite;
  background-image: -webkit-linear-gradient(
    left,
    #eee,
    #333 25%,
    #eee 50%,
    #333 75%,
    #eee
  );
}

.tagline {
  text-align: center;
  background-color: #ebedf0;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  background-size: 200%;
  /* font-size: 2vw; */
  font-weight: bolder;
  color: transparent;
  background-clip: text;
  animation: animation 1.7s linear infinite;
}

@keyframes animation {
  to {
    background-position: 200% center;
  }
}

@keyframes myGradientChange {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: 0%;
  }
}
